# Application
.terraform/
*.tfstate
bin/task
etc/certs
etc/development.json
etc/production.json
static-django/
*secrets.tfvars
*.tfstate
*.tfstate.backup

# Javascript
node_modules/
build/

# Python
*.pyc
staticfiles
.env
*.sqlite3

# Build
dist/
.cache/

# Shared volumes
var/

# Logs
*.log
*.pid
