# Application
bin/task
etc/certs
etc/ansible/hosts
etc/*.json
static-django/

# Terraform
.terraform/
*secrets.tfvars
*.tfstate
*.tfstate.backup

# Javascript
node_modules/
build/

# Python
*.pyc
staticfiles
.env
*.sqlite3
.hypothesis

# Build
dist/
.cache/

# Shared volumes
var/

# Logs
*.log
*.pid
